<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <h3>Dashboard</h3>
      </div>
      <div class="col-lg-6">
        <p class="breadcrumb pull-right">Refresed: &nbsp;<span>{{lastRefreshed}}</span></p>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="card border-widgets">
    <div class="row m-0">
      <div class="col-xl-3 col-6 xs-width-100">
        <div class="crm-top-widget card-body">
          <div class="media">
            <i class="icon-user font-primary align-self-center mr-3"></i>
            <div class="media-body">
              <span class="mt-0">Total Service Providers</span>
              <h4 class="counter" countUp endVal="{{total_serviceProviders}}">0</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-6 xs-width-100">
        <div class="crm-top-widget card-body">
          <div class="media">
            <i class="icon-user font-secondary align-self-center mr-3"></i>
            <div class="media-body">
              <span class="mt-0">Total Customers</span>
              <h4 class="counter" countUp endVal="{{total_customers}}">0</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-6 xs-width-100">
        <div class="crm-top-widget card-body">
          <div class="media">
            <i class="icon-star font-success align-self-center mr-3"></i>
            <div class="media-body">
              <span class="mt-0">Total Booking</span>
              <h4 class="counter" countUp endVal="{{total_bookings}}">0</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-6 xs-width-100">
        <div class="crm-top-widget card-body">
          <div class="media">
            <i class="icon-direction-alt font-info align-self-center mr-3"></i>
            <div class="media-body">
              <span class="mt-0">Total Tournaments</span>
              <h4 class="counter" countUp endVal="{{total_tournaments}}">0</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="100%" height="480" src="https://charts.mongodb.com/charts-project-0-avtkw/embed/charts?id=289a3d88-c777-476b-961b-2db88d1945f4&tenant=f5d189e6-b0ab-44b0-aea0-a9190f6934f5"></iframe>
 
</div>
<!-- Container-fluid Ends -->
