<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel2">
    <span *ngIf="!isDataLoaded">Please wait...</span>
    <span *ngIf="isDataLoaded">Adding New Currency</span></h5>
  <button type="button" class="close" (click)="closeMe()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="currencyForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">

    <!-- Loader  -->
    <div *ngIf="!isDataLoaded" class="row justify-content-center">
      <div class="col-2">
        <div class="loader-box">
          <div class="loader">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Records -->
    <div *ngIf="isDataLoaded">

      <div class="row">

        <!-- Left Section -->
        <div class="col-6">

          <!-- Short Name -->
          <div class="form-row">
            <div class="col-12 mb-3">
              <label for="shortName">Short Name</label>
              <input type="text" class="form-control input-air-primary" id="shortName" formControlName="shortName"
                [ngClass]="{ 'is-invalid': submitted && f.shortName.errors }">

              <div *ngIf="submitted && f['shortName'].errors" class="text text-danger">
                <div *ngIf="f['shortName'].errors.required">Short Name is required</div>
              </div>
            </div>
          </div>

          <!-- Print Name -->
          <div class="form-row">
            <div class="col-12 mb-3">
              <label for="printName">Print Name</label>
              <input type="text" class="form-control input-air-primary" id="printName" formControlName="printName"
                [ngClass]="{ 'is-invalid': submitted && f.printName.errors }">

              <div *ngIf="submitted && f['printName'].errors" class="text text-danger">
                <div *ngIf="f['printName'].errors.required">Required</div>
              </div>
            </div>
          </div>

          <!-- Full Name -->
          <div class="form-row">
            <div class="col-12 mb-3">
              <label for="fullName">Full Name</label>
              <input type="text" class="form-control input-air-primary" id="fullName" formControlName="fullName"
                [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">

              <div *ngIf="submitted && f['fullName'].errors" class="text text-danger">
                <div *ngIf="f['fullName'].errors.required">Required</div>
              </div>
            </div>
          </div>

          <!-- Currency Region -->
          <div class="form-row">
            <div class="col-12 mb-3">
              <label for="regionId">Currency Region</label>
              <select class="form-control input-air-primary" id="regionId" formControlName="regionId"
                [ngClass]="{ 'is-invalid': submitted && f.regionId.errors }">
                <option value="">Select Region</option>
                <option *ngFor="let region of regions" value="{{region.RegionId}}">{{region.RegionName}}</option>
              </select>

              <div *ngIf="submitted && f['regionId'].errors" class="text text-danger">
                <div *ngIf="f['regionId'].errors.required">Required</div>
              </div>
            </div>
          </div>

          <!-- Currency Type -->
          <div class="form-row">
            <div class="col-12 mb-3">
              <label for="currencyTypeId">Currency Type</label>
              <select class="form-control input-air-primary" id="currencyTypeId" formControlName="currencyTypeId"
                [ngClass]="{ 'is-invalid': submitted && f.currencyTypeId.errors }">
                <option value="">Select Type</option>
                <option *ngFor="let type of types" value="{{type.CurrencyTypeId}}">{{type.CurrencyTypeName}}
                </option>
              </select>

              <div *ngIf="submitted && f['currencyTypeId'].errors" class="text text-danger">
                <div *ngIf="f['currencyTypeId'].errors.required">Required</div>
              </div>
            </div>
          </div>

        </div>

        <!-- Right Section -->
        <div class="col-6">

          <!-- Buy Rate High -->
          <div class="form-row">
            <div class="col-12 mb-3">
              <label for="buyHighRate">Buy Rate High</label>
              <input type="number" class="form-control input-air-primary" id="buyHighRate" formControlName="buyHighRate"
                [ngClass]="{ 'is-invalid': submitted && f.buyHighRate.errors }">

              <div *ngIf="submitted && f['buyHighRate'].errors" class="text text-danger">
                <div *ngIf="f['buyHighRate'].errors.required">Required</div>
              </div>
            </div>
          </div>

          <!-- Buy Rate Low -->
          <div class="form-row">
            <div class="col-12 mb-3">
              <label for="buyLowRate">Buy Rate Low</label>
              <input type="number" class="form-control input-air-primary" id="buyLowRate" formControlName="buyLowRate"
                [ngClass]="{ 'is-invalid': submitted && f.buyLowRate.errors }">

              <div *ngIf="submitted && f['buyLowRate'].errors" class="text text-danger">
                <div *ngIf="f['buyLowRate'].errors.required">Required</div>
              </div>
            </div>
          </div>

          <!-- Sell Rate High -->
          <div class="form-row">
            <div class="col-12 mb-3">
              <label for="sellHighRate">Sell Rate High</label>
              <input type="number" class="form-control input-air-primary" id="sellHighRate"
                formControlName="sellHighRate" [ngClass]="{ 'is-invalid': submitted && f.sellHighRate.errors }">

              <div *ngIf="submitted && f['sellHighRate'].errors" class="text text-danger">
                <div *ngIf="f['sellHighRate'].errors.required">Required</div>
              </div>
            </div>
          </div>

          <!-- Sell Rate Low -->
          <div class="form-row">
            <div class="col-12 mb-3">
              <label for="sellLowRate">Sell Rate Low</label>
              <input type="number" class="form-control input-air-primary" id="sellLowRate" formControlName="sellLowRate"
                [ngClass]="{ 'is-invalid': submitted && f.sellLowRate.errors }">

              <div *ngIf="submitted && f['sellLowRate'].errors" class="text text-danger">
                <div *ngIf="f['sellLowRate'].errors.required">Required</div>
              </div>
            </div>
          </div>

          <!-- Formula -->
          <div class="form-row">
            <div class="col-12 mb-3">
              <label for="currencyFormula">Currency Formula</label>
              <select class="form-control input-air-primary" id="currencyFormula" formControlName="currencyFormula"
                [ngClass]="{ 'is-invalid': submitted && f.currencyFormula.errors }">
                <option value="*">*</option>
                <option value="=">=</option>
                <option value="/">/</option>
              </select>

              <div *ngIf="submitted && f['currencyFormula'].errors" class="text text-danger">
                <div *ngIf="f['currencyFormula'].errors.required">Required</div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
  <div *ngIf="isDataLoaded" class="modal-footer">

    <div *ngIf="isRequested">
      <button type="button" class="btn btn-default" (click)="closeMe()">Close</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <!-- Loader  -->
    <div *ngIf="!isRequested">
      <button type="button" class="btn btn-default">Please Wait...</button>
    </div>

  </div>

</form>
