<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <h3>Currencies
          <!-- <small>Universal Admin Panel</small> -->
        </h3>
      </div>
      <div class="col-lg-6 text-right">

        <button *ngIf="auth.isCashier" type="button" class="btn btn-pill btn-outline-primary btn-sm"
          (click)="ngOnInit()">Refresh</button>

        <button *ngIf="auth.isAdmin" type="button" class="btn btn-pill btn-outline-primary btn-sm"
          (click)="openAddModal()">Add New</button>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends -->
<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <!-- <div class="card-header">
          <h5>Table Option</h5>
        </div> -->
        <div class="card-body">



          <!-- Loader  -->
          <div *ngIf="!isDataLoaded" class="row justify-content-center">
            <div class="col-2">
              <div class="loader-box">
                <div class="loader">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Records -->
          <div *ngIf="isDataLoaded">

            <div class="table-responsive">

              <div *ngIf="auth.isCashier">
                <table *ngIf="currencies.length > 0" datatable class="row-border hover">
                  <thead>
                    <tr>
                      <th>Code</th>
                      <th>Short Name</th>
                      <th>Full Name</th>
                      <th>Buy High Rate</th>
                      <th>Buy Low Rate</th>
                      <th>Sell High Rate</th>
                      <th>Sell Low Rate</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let c of currencies">
                      <td>{{c.CurrencyCode}}</td>
                      <td>{{c.ShortName}}</td>
                      <td>{{c.FullName}}</td>
                      <td>{{c.BuyHighRate}}</td>
                      <td>{{c.BuyLowRate}}</td>
                      <td>{{c.SellHighRate}}</td>
                      <td>{{c.SellLowRate}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="auth.isAdmin">
                <ng2-smart-table [settings]="settings" [source]="currencies" (editConfirm)="onSaveConfirm($event)"
                  (userRowSelect)="selectedCurrency($event)">
                </ng2-smart-table>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>
<!-- Container-fluid Ends -->
