<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <h3>Transaction
          <small>Bill Transaction</small>
        </h3>
        <div class="form-group m-t-15 m-checkbox-inline mb-0 custom-radio-ml">
          <div class="radio radio-primary">
            <input type="radio" name="transactionType" id="radio1" value="1" checked [(ngModel)]="transactionType"
              (change)="setMinMax()">
            <label for="radio1">Sale</label>
          </div>
          <div class="radio radio-primary">
            <input type="radio" name="transactionType" id="radio2" value="2" [(ngModel)]="transactionType"
              (change)="setMinMax()">
            <label for="radio2">Purchase</label>
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-right">
        <button type="button" class="btn btn-pill btn-outline-primary btn-sm" (click)="ngOnInit()">Reset</button>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends -->
<!-- Container-fluid starts -->
<div class="container-fluid">

  <div class="card">
    <!-- <div class="card-header">
      <h5>Table Option</h5>
    </div> -->
    <div class="card-body">

      <!-- Loader  -->
      <div *ngIf="!isDataLoaded" class="row justify-content-center">
        <div class="col-2">
          <div class="loader-box">
            <div class="loader">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </div>


      <!-- Form -->
      <div *ngIf="isDataLoaded">

        <!-- Remitter -->
        <div class="row">

          <!-- Customer -->
          <div class="col">

            <!-- Customer Type -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="customerType">Customer Type:</label>
              <div class="col-sm-8">
                <select class="form-control input-air-primary digits" id="customerType" [(ngModel)]="customerType"
                  (change)="getRemitters()">
                  <option *ngFor="let c of customerTypesArray" value="{{c.CustomerTypeId}}">{{c.CustomerTypeName}}
                  </option>
                </select>
              </div>
            </div>

            <!-- Previous Customer -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="customer">Customers:</label>
              <div class="col-sm-8">
                <select class="form-control input-air-primary digits" id="customer" [(ngModel)]="oldCustomer"
                  (change)="setCustomerData()">
                  <option *ngFor="let c of customersArray" value="{{c.RemitterId}}">{{c.RemitterFName}}</option>
                </select>
              </div>
            </div>

            <!-- Customer Name -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="customerName">Customer Name:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control input-air-primary" id="customerName" [(ngModel)]="customer.name">
              </div>
            </div>

            <!-- Cistomer Number -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="customerNumber">Customer Number:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control input-air-primary" id="customerNumber"
                  [(ngModel)]="customer.contactNo">
              </div>
            </div>

            <!-- Customer Address -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="customerAddress">Customer Address:</label>
              <div class="col-sm-8">
                <textarea class="form-control input-air-primary" id="customerAddress" rows="3"
                  [(ngModel)]="customer.address"></textarea>
              </div>
            </div>

          </div>

          <!-- Purpose/Nationaliity/Document -->
          <div class="col">

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="purpose">Purpose:</label>
              <div class="col-sm-8">
                <select class="form-control input-air-primary digits" id="purpose" [(ngModel)]="purpose">
                  <option *ngFor="let p of purposesArray" value="{{p.PurPoseId}}">{{p.Purpose1}}</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="country">Nationality:</label>
              <div class="col-sm-8">
                <select class="form-control input-air-primary digits" id="country" [(ngModel)]="country">
                  <option *ngFor="let c of countriesArray" value="{{c.CountryId}}">{{c.Nationality}}</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="documentType">Document Type:</label>
              <div class="col-sm-8">
                <select class="form-control input-air-primary digits" id="documentType" [(ngModel)]="documentType">
                  <option *ngFor="let d of documentTypesArray" value="{{d.DocTypeId}}">{{d.DocTypeName}}</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="documentNumber">Document Number:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control input-air-primary" id="documentNumber"
                  [(ngModel)]="documentNumber">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="suspiciousTransaction">Suspicious Transaction:</label>
              <div class="col-sm-8">
                <div class="checkbox" id="suspiciousTransaction">
                  <input id="suspiciousTransactionCheckBox" type="checkbox" [(ngModel)]="suspiciousTransaction">
                  <label for="suspiciousTransactionCheckBox">Checked</label>
                  <div *ngIf="isSubmitted" class="text-danger text-center">
                    <p *ngIf="!validation.sptForm && !isSptFormFilled">{{validation.sptError}}</p>
                    <button *ngIf="suspiciousTransaction" type="button"
                      class="btn btn-pill btn-primary btn-sm" (click)="_openSPFModal()">Open Form</button>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

        <hr>

        <div *ngIf="currency.currencyId !== ''">

          <div class="row justify-content-center">
            <div class="col-6">

              <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="lcCurrency">Local Currency:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control input-air-primary" id="lcCurrency" [(ngModel)]="lcCurrency"
                    disabled>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="fcCurrency">{{currency.currencyName}}:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control input-air-primary" id="fcCurrency" [(ngModel)]="fcCurrency"
                    disabled>
                </div>
              </div>

              <hr>

            </div>
          </div>


        </div>

        <!-- Currency -->
        <div class="row">

          <div class="col">

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="currencyCode">Currency Code:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control input-air-primary" id="currencyCode"
                  [(ngModel)]="currency.currencyCode" (keyup)="setCurrencyByCode()">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="currencyId">Currency:</label>
              <div class="col-sm-8">
                <select class="form-control input-air-primary digits" id="currencyId" [(ngModel)]="currency.currencyId"
                  (change)="setCurrencyById()">
                  <option *ngFor="let c of currenciesArray" value="{{c.CurrencyId}}">{{c.FullName}}</option>
                </select>
              </div>
            </div>

            <div *ngIf="currency.currencyId !== ''">

              <div *ngIf="transactionType === '1'">

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label" for="SellLowRate">Sell Rate Low:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control input-air-primary" id="SellLowRate"
                      [(ngModel)]="currency.SellLowRate" disabled>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label" for="SellHighRate">Sell Rate High:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control input-air-primary" id="SellHighRate"
                      [(ngModel)]="currency.SellHighRate" disabled>
                  </div>
                </div>

              </div>

              <div *ngIf="transactionType === '2'">

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label" for="BuyLowRate">Buy Rate Low:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control input-air-primary" id="BuyLowRate"
                      [(ngModel)]="currency.BuyLowRate" disabled>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label" for="BuyHighRate">Buy Rate High:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control input-air-primary" id="BuyHighRate"
                      [(ngModel)]="currency.BuyHighRate" disabled>
                  </div>
                </div>

              </div>

            </div>

          </div>

          <div class="col">

            <div *ngIf="currency.currencyId !== ''">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="FcAmount">FcAmount:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control input-air-primary" id="FcAmount" [(ngModel)]="fcAmount"
                    (keyup)="calculateTotal()">
                  <div *ngIf="isSubmitted" class="text-danger text-center">
                    <p *ngIf="!validation.stock">{{validation.stockError}}</p>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="exRate">ExRate:</label>
                <div class="col-sm-8">
                  <input type="number" min="{{minRate}}" max="{{maxRate}}" step="0.1"
                    class="form-control input-air-primary" id="exRate" [(ngModel)]="exRate" (keyup)="calculateTotal()">
                  <div *ngIf="isSubmitted" class="text-danger text-center">
                    <p *ngIf="!validation.minMax">{{validation.minMaxError}}</p>
                  </div>
                </div>
              </div>
            </div>


            <div *ngIf="currency.currencyId && fcAmount && exRate">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="customerAddress">Total:</label>
                <div class="col-sm-8">
                  <textarea class="form-control input-air-primary txt-total" id="customerAddress" rows="1"
                    [(ngModel)]="total" disabled></textarea>
                </div>
              </div>
            </div>

            <div *ngIf="total" class="text-right">
              <button type="button" (click)="ngOnInit()" class="btn btn-pill btn-light btn-air-light"
                [disabled]="isSubmitted">Cancel</button>
              <button type="button" (click)="submit()" class="btn btn-pill btn-primary btn-air-primary">Submit</button>
            </div>

          </div>

        </div>

      </div>



    </div>

  </div>
</div>
<!-- Container-fluid Ends -->
